:root {
    --bg: #111;
    --card: #1a1a1a;
    --text: #ffffff;
    --accent: #c5a047;
}

.light-mode {
    --bg: #f5f5f5;
    --card: #ffffff;
    --text: #111111;
    --accent: #a67c00;
}

#theme-toggle {
    background: none;
    border: 2px solid var(--accent);
    color: var(--accent);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 6px;
}

.hero {
    height: 100vh;
    background: url("imgs/fotoBarbearia01.jpg") center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.6));
}

.hero h1,
.hero .btn {
    position: relative;
    z-index: 2;
    margin-left: 10%;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
    font-family: Arial, sans-serif;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    color: var(--text);
}

.hero h1 {
    font-size: 60px;
}

.hero p {
    font-size: 20px;
    margin: 10px 0;
}

.btn {
    background: var(--accent);
    padding: 12px 25px;
    color: #000;
    text-decoration: none;
    width: fit-content;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

.precos {
    padding: 80px 10%;
    text-align: center;
}

.tabela,
form {
    background: var(--card);
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    border-bottom: 1px solid #333;
    font-size: 16px;
    transition: 0.3s;
}

.item:hover {
    color: var(--accent);
}

.item:last-child {
    border-bottom: none;
}

.item:last-child {
    border-bottom: none;
}

.item span {
    color: var(--accent);
    font-weight: bold;
}

.galeria {
    padding: 80px 10%;
    text-align: center;
}

.galeria h2 {
    margin-bottom: 40px;
    position: relative;
}

.galeria h2::after {
    content: "";
    width: 60px;
    height: 3px;
    background: var(--accent);
    display: block;
    margin: 10px auto;
}

.imagens {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.imagens img {
    width: 350px;
    border-radius: 10px;
    transition: 0.4s;
    filter: grayscale(30%);
}

.imagens img:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
}

.fade {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.8s ease;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}

.localizacao {
    padding: 80px 10%;
    text-align: center;
}

.localizacao h2::after {
    content: "";
    width: 60px;
    height: 3px;
    background: var(--accent);
    display: block;
    margin: 10px auto;
}

.mapa {
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

iframe {
    display: block;
}

.mapa {
    width: 100%;
}
/*Agendamento.html*/

.agendamento {
    padding: 100px 10%;
    background: #111;
    color: var(--accent);
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
    margin-top: 40px;
    background: var(--card);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

form input,
form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    background: var(--bg);
    border: 1px solid #333;
    color: var(--text);
}

form button {
    width: 100%;
    padding: 14px;
    background: var(--accent);
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    transition: 0.3s;
}

form button:hover {
    opacity: 0.8;
}

/*Reponcividade*/

@media (max-width: 768px) {

    nav section {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }

    .hero {
        height: 80vh;
        text-align: center;
    }

    .hero h1 {
        font-size: 32px;
        margin-left: 0;
    }

    .overlay {
        padding-left: 0;
        align-items: center;
    }

    .item {
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }

    .mapa iframe {
        height: 250px;
    }
}